In [1]:
import pandas as pd
import glob
import os
import re
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import re
import pycountry

European Comission stores the data about Schengen Visa on seperate excel files for each year. After downloading them I append them together. But the column names and sheet names of excel files for 2012 and 2013 different, and 2012 has an additional column. I will treat them later. First the non-problematic ones:

In [2]:
df = pd.DataFrame()
for f in glob.glob(r'C:\Users\Esprimo Q920\Desktop\schengen_visa\*.xlsx'):
    data = pd.read_excel(f, sheet_name='Data for consulates')
    data['year'] = int(re.findall(r'.*([1-3][0-9]{3})', f)[0])
    df = df.append(data,ignore_index=True)

In [3]:
df.head()

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV) \n,Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas,year
0,Finland,RUSSIAN FEDERATION,ST. PETERSBURG,NaN,NaN,NaN,NaN,NaN,914314.0,908145.0,895849.0,0.986460,14.0,6155.0,0.006732,914314.0,908159.0,6155.0,0.006732,2014
1,Spain,RUSSIAN FEDERATION,MOSCOW,1.0,0.0,0.0,1.0,1.000000,861351.0,845776.0,203684.0,0.240825,678.0,8531.0,0.009904,861352.0,846454.0,8532.0,0.009905,2014
2,Greece,RUSSIAN FEDERATION,MOSCOW,NaN,NaN,NaN,NaN,NaN,768649.0,765508.0,304967.0,0.398385,4.0,3137.0,0.004081,768649.0,765512.0,3137.0,0.004081,2014
3,Italy,RUSSIAN FEDERATION,MOSCOW,0.0,0.0,0.0,0.0,NaN,727792.0,720564.0,715133.0,0.992463,136.0,7092.0,0.009745,727792.0,720700.0,7092.0,0.009745,2014
4,France,RUSSIAN FEDERATION,MOSCOW,14.0,11.0,NaN,3.0,0.214286,290369.0,285664.0,117259.0,0.410479,331.0,4374.0,0.015064,290383.0,286006.0,4377.0,0.015073,2014

Reading the 2013 excel file and assigning column names of the main dataframe and creating a year column:

In [4]:
df2013 = pd.read_excel(r'C:\Users\Esprimo Q920\Desktop\schengen_visa\2012 and 2013\synthese_2013_with_filters_en.xls', sheet_name='Complete data')

In [5]:
df2013['year'] = 2013

In [6]:
df2013.columns = df.columns

In [7]:
df2013.head()

,Schengen State,Country where consulate is located,Consulate,Airport transit visas (ATVs) applied for,ATVs issued (including multiple),Multiple ATVs issued,ATVs not issued,Not issued rate for ATVs,Uniform visas applied for,Total uniform visas issued (including MEV) \n,Multiple entry uniform visas (MEVs) issued,Share of MEVs on total number of uniform visas issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Total ATVs and uniform visas applied for,"Total ATVs and uniform visas issued (including multiple ATVs, MEVs and LTVs)",Total ATVs and uniform visas not issued,Not issued rate for ATVs and uniform visas,year
0,Finland,RUSSIAN FEDERATION,ST. PETERSBURG,1.0,1.0,NaN,NaN,0.000000,1204670.0,1195130.0,1171713.0,0.980406,35.0,9505.0,0.007890,1204671.0,1195166.0,9505.0,0.007890,2013
1,Spain,RUSSIAN FEDERATION,MOSCOW,2.0,1.0,NaN,NaN,0.000000,1051643.0,1016986.0,196054.0,0.192779,3991.0,10292.0,0.009787,1051645.0,1020978.0,10292.0,0.009787,2013
2,Greece,RUSSIAN FEDERATION,MOSCOW,1.0,1.0,NaN,NaN,0.000000,910824.0,908680.0,332319.0,0.365716,13.0,2131.0,0.002340,910825.0,908694.0,2131.0,0.002340,2013
3,Italy,RUSSIAN FEDERATION,MOSCOW,0.0,0.0,0.0,0.0,NaN,725524.0,720863.0,707109.0,0.980920,270.0,4391.0,0.006052,725524.0,721133.0,4391.0,0.006052,2013
4,France,RUSSIAN FEDERATION,MOSCOW,11.0,9.0,0.0,2.0,0.181818,390161.0,385160.0,117195.0,0.304276,275.0,4726.0,0.012113,390172.0,385444.0,4728.0,0.012118,2013

Merging two dataframes:

In [8]:
df = pd.concat([df, df2013])

Choosing the necessary columns:

In [9]:
df = df.iloc[:, [0,1,2,8,9,10,12,13,-1]]

In [10]:
column_names = ["schengen_state", "app_country", "consulate", "app","total_issued", "mev_issued", "ltv", "rejected", 'year']
df.columns = column_names
print(df.head())

  schengen_state         app_country       consulate       app  total_issued  \
0        Finland  RUSSIAN FEDERATION  ST. PETERSBURG  914314.0      908145.0
1          Spain  RUSSIAN FEDERATION          MOSCOW  861351.0      845776.0
2         Greece  RUSSIAN FEDERATION          MOSCOW  768649.0      765508.0
3          Italy  RUSSIAN FEDERATION          MOSCOW  727792.0      720564.0
4         France  RUSSIAN FEDERATION          MOSCOW  290369.0      285664.0

   mev_issued    ltv  rejected  year
0    895849.0   14.0    6155.0  2014
1    203684.0  678.0    8531.0  2014
2    304967.0    4.0    3137.0  2014
3    715133.0  136.0    7092.0  2014
4    117259.0  331.0    4374.0  2014

Reading the 2012 file:

In [11]:
df2012 = pd.read_excel(r'C:\Users\Esprimo Q920\Desktop\schengen_visa\2012 and 2013\synthese_2012_with_filters_en.xlsx', sheet_name='Sheet1')

In [12]:
df2012.head()

,Schengen State,World region,Country where consulate is located,Location of consulate,A visas issued,Multiple A visas issued,A Visas applied for,A visas not issued,C visas issued (including MEV) \n,Multiple entry C visas issued,Share of MEVs on issued C visas,C visas applied for,C visas not issued,Total A and C visas issued (including multiple-entry A visas and multiple-entry C visas),Total A and C visas applied for.,Total A and C visas not issued,Not issued rate for A and C visas,Total LTV visas issued,"Total A, C and LTV visas issued",Rate LTV visas issued / C visas issued
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DENMARK,SOUTH&EAST ASIA,AFGHANISTAN,KABUL,NaN,NaN,NaN,NaN,59,5,0.084746,74,7,59,74,7,0.094595,9,68,0.152542
2,France,SOUTH&EAST ASIA,AFGHANISTAN,KABUL,4,NaN,4,NaN,1143,141,0.12336,1189,46,1147,1193,46,0.038558,547,1694,0.478565
3,GERMANY,SOUTH&EAST ASIA,AFGHANISTAN,KABUL,NaN,NaN,NaN,NaN,1571,22,0.014004,2892,1321,1571,2892,1321,0.456777,52,1623,0.0331
4,ITALY,SOUTH&EAST ASIA,AFGHANISTAN,KABUL,0,0,0,0,417,324,0.776978,471,54,417,471,54,0.11465,243,660,0.582734

Choosing the necessar columns and renaming them with the column names of the main dataframe:

In [13]:
df2012 = df2012.iloc[:, [0,2,3,11,8,9,12]]

In [14]:
column_names2 = ["schengen_state", "app_country", "consulate", "app","total_issued", "mev_issued", "rejected"]
df2012.columns = column_names2
df2012['year'] = 2012
print(df2012)

     schengen_state  app_country            consulate       app total_issued  \
0               NaN          NaN                  NaN       NaN          NaN
1           DENMARK  AFGHANISTAN                KABUL        74           59
2            France  AFGHANISTAN                KABUL      1189         1143
3           GERMANY  AFGHANISTAN                KABUL      2892         1571
4             ITALY  AFGHANISTAN                KABUL       471          417
...             ...          ...                  ...       ...          ...
2031            NaN          NaN                  NaN       NaN          NaN
2032            NaN          NaN  TOTAL Visas in 2012  15116973     14250595
2033            NaN          NaN              Minimum         0            0
2034            NaN          NaN              Maximum   1030968      1022443
2035            NaN          NaN              Average   7483.65  7200.907024

      mev_issued    rejected  year
0            NaN         NaN  2012
1              5           7  2012
2            141          46  2012
3             22        1321  2012
4            324          54  2012
...          ...         ...   ...
2031         NaN         NaN  2012
2032     5921699      720632  2012
2033           0           0  2012
2034     1000578       28329  2012
2035  3207.85428  432.033573  2012

[2036 rows x 8 columns]

Merging dataframes once more:

In [16]:
df = pd.concat([df, df2012])

The source files have some unnecessary tail in the document so I'll remove them:

In [17]:
df = df.dropna(subset=['schengen_state', 'app_country'])
df = df.fillna(0)

Checking amount of na values:

In [18]:
for col in df.columns:
    pct_missing = (np.mean(df[col].isnull())*100)
    print('{} - {}%'.format(col, pct_missing))

schengen_state - 0.0%
app_country - 0.0%
consulate - 0.0%
app - 0.0%
total_issued - 0.0%
mev_issued - 0.0%
ltv - 0.0%
rejected - 0.0%
year - 0.0%

There are not that many so I will drop them:

In [19]:
df.dropna()

,schengen_state,app_country,consulate,app,total_issued,mev_issued,ltv,rejected,year
0,Finland,RUSSIAN FEDERATION,ST. PETERSBURG,914314.0,908145.0,895849.0,14.0,6155.0,2014
1,Spain,RUSSIAN FEDERATION,MOSCOW,861351.0,845776.0,203684.0,678.0,8531.0,2014
2,Greece,RUSSIAN FEDERATION,MOSCOW,768649.0,765508.0,304967.0,4.0,3137.0,2014
3,Italy,RUSSIAN FEDERATION,MOSCOW,727792.0,720564.0,715133.0,136.0,7092.0,2014
4,France,RUSSIAN FEDERATION,MOSCOW,290369.0,285664.0,117259.0,331.0,4374.0,2014
...,...,...,...,...,...,...,...,...,...
2019,ITALY,ZIMBABWE,HARARE,665.0,665.0,298.0,0.0,0,2012
2020,NETHERLANDS,ZIMBABWE,HARARE,391.0,391.0,391.0,0.0,0,2012
2021,NORWAY,ZIMBABWE,HARARE,524.0,484.0,37.0,0.0,40,2012
2022,Portugal,ZIMBABWE,HARARE,136.0,136.0,33.0,0.0,0,2012
2023,SPAIN,ZIMBABWE,HARARE,292.0,278.0,21.0,0.0,2,2012

Checking column types:

In [20]:
df.dtypes

schengen_state     object
app_country        object
consulate          object
app               float64
total_issued      float64
mev_issued        float64
ltv               float64
rejected           object
year                int64
dtype: object

Some numeric columns are stored as object so I will turn them into numeric:

In [21]:
columns = ['rejected', 'total_issued', 'mev_issued', 'app']
df[columns] = df[columns].apply(pd.to_numeric, errors='coerce').astype('float64')

Just making sure that there are no empty spaces:

In [22]:
df['app_country']=df['app_country'].str.strip()
df['consulate']=df['consulate'].str.strip()
df['schengen_state'] = df['schengen_state'].str.strip()

Checking if there is a case mismatch:

In [23]:
df['schengen_state'].unique()

array(['Finland', 'Spain', 'Greece', 'Italy', 'France', 'Czech Republic',
       'Germany', 'Poland', 'Lithuania', 'Austria', 'Latvia',
       'Netherlands', 'Switzerland', 'Hungary', 'Portugal', 'Estonia',
       'Sweden', 'Slovakia', 'Norway', 'Belgium', 'Malta', 'Denmark',
       'Slovenia', 'Luxembourg', 'Iceland', 'DENMARK', 'GERMANY', 'ITALY',
       'NETHERLANDS', 'NORWAY', 'POLAND', 'SPAIN', 'AUSTRIA',
       'CZECH REPUBLIC', 'GREECE', 'HUNGARY', 'SLOVENIA', 'BELGIUM',
       'FINLAND', 'SWEDEN', 'SWITZERLAND', 'LITHUANIA', 'SLOVAKIA',
       'ESTONIA', 'MALTA', 'LATVIA', 'ICELAND'], dtype=object)

In [24]:
df['schengen_state'].unique()

array(['Finland', 'Spain', 'Greece', 'Italy', 'France', 'Czech Republic',
       'Germany', 'Poland', 'Lithuania', 'Austria', 'Latvia',
       'Netherlands', 'Switzerland', 'Hungary', 'Portugal', 'Estonia',
       'Sweden', 'Slovakia', 'Norway', 'Belgium', 'Malta', 'Denmark',
       'Slovenia', 'Luxembourg', 'Iceland', 'DENMARK', 'GERMANY', 'ITALY',
       'NETHERLANDS', 'NORWAY', 'POLAND', 'SPAIN', 'AUSTRIA',
       'CZECH REPUBLIC', 'GREECE', 'HUNGARY', 'SLOVENIA', 'BELGIUM',
       'FINLAND', 'SWEDEN', 'SWITZERLAND', 'LITHUANIA', 'SLOVAKIA',
       'ESTONIA', 'MALTA', 'LATVIA', 'ICELAND'], dtype=object)

There is a case mismatch. I'll fix that:

In [25]:
len(df['schengen_state'].str.title().unique())

25

There are 25 schengen states excluding Liechtenstein, which is not in this dataframe.

In [26]:
df['schengen_state'] = df['schengen_state'].str.title()

In [27]:
df['app_country'].unique()

array(['RUSSIAN FEDERATION', 'ALGERIA', 'UKRAINE', 'CHINA', 'BELARUS',
       'TURKEY', 'TUNISIA', 'COLOMBIA', 'MOROCCO', 'UNITED KINGDOM',
       'INDIA', 'UNITED ARAB EMIRATES', 'ANGOLA', 'SAUDI ARABIA', 'EGYPT',
       'KUWAIT', 'THAILAND', 'LEBANON', 'IRAN, ISLAMIC REPUBLIC OF',
       'NIGERIA', 'INDONESIA', 'PERU', 'KOSOVO', "COTE D'IVOIRE", 'QATAR',
       'SENEGAL', 'PHILIPPINES', 'SOUTH AFRICA', 'KAZAKHSTAN',
       'DOMINICAN REPUBLIC', 'CONGO, THE DEMOCRATIC REPUBLIC OF THE',
       'GEORGIA', 'LIBYAN ARAB JAMAHIRIYA', 'AZERBAIJAN', 'ECUADOR',
       'SURINAME', 'MADAGASCAR', 'ARMENIA', 'GABON', 'CAPE VERDE', 'MALI',
       'VIET NAM', 'GUINEA', 'CAMEROON', 'BURKINA FASO', 'CUBA',
       'MONGOLIA', 'USA', 'OMAN', 'BAHRAIN', 'BENIN', 'EQUATORIAL GUINEA',
       'JORDAN', 'KYRGYZSTAN', 'CONGO', 'PAKISTAN', 'MOZAMBIQUE',
       'UZBEKISTAN', 'SRI LANKA', 'SINGAPORE', 'GHANA', 'MAURITANIA',
       'TOGO', 'IRAQ', 'HAITI', 'CHAD', 'RWANDA', 'NAMIBIA', 'NIGER',
       'KENYA', 'CAMBODIA', 'BOLIVIA',
       'FORMER YUGOSLAV REPUBLIC OF MACEDONIA', 'MOLDOVA, REPUBLIC OF',
       'TURKMENISTAN', 'BANGLADESH', 'YEMEN', 'NEPAL', 'ETHIOPIA',
       'TAJIKISTAN', 'PALESTINE', 'GUINEA-BISSAU', 'UGANDA',
       'CENTRAL AFRICAN REPUBLIC', 'CANADA', 'BURUNDI', 'DJIBOUTI',
       'HONG KONG S.A.R.', 'COMOROS', 'ISRAEL', 'MYANMAR',
       'TANZANIA, UNITED REPUBLIC OF', 'SAO TOME AND PRINCIPE',
       'AFGHANISTAN', 'TRINIDAD AND TOBAGO', 'ZAMBIA', 'CYPRUS', 'JAPAN',
       'ERITREA', 'IRELAND', 'SUDAN', "LAO PEOPLE'S DEMOCRATIC REPUBLIC",
       'AUSTRALIA', 'JAMAICA', 'SERBIA', 'BOTSWANA', 'ZIMBABWE', 'MALAWI',
       'MALAYSIA', 'SAINT LUCIA', 'FIJI', 'PANAMA', 'BULGARIA', 'ROMANIA',
       'TIMOR-LESTE', 'SAN MARINO', 'MACAO', 'MONTENEGRO', 'CHILE',
       'MEXICO', 'KOREA, REPUBLIC OF', 'ARGENTINA', 'PAPUA NEW GUINEA',
       'ALBANIA', 'VENEZUELA', 'TAIWAN, PROVINCE OF CHINA', 'NEW ZEALAND',
       'BRAZIL', 'MAURITIUS', 'DENMARK', 'CROATIA', 'SWEDEN',
       'SYRIAN ARAB REPUBLIC', "KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF",
       'BOSNIA AND HERZEGOVINA', 'COSTA RICA', 'GUATEMALA', 'VANUATU',
       'PUERTO RICO', 'SEYCHELLES', 'NETHERLANDS', 'ANDORRA', 'BRUNEI',
       'GERMANY', 'SLOVAKIA', 'MALTA', 'FRANCE', 'ICELAND', 'SOUTH SUDAN',
       'SLOVENIA', 'BHUTAN', 'NICARAGUA', 'URUGUAY', 'BELGIUM',
       'LUXEMBOURG', 'PORTUGAL', 'EL SALVADOR', 'NORWAY', 'AUSTRIA',
       'SWITZERLAND', 'ITALY', 'GREECE', 'SPAIN', 'PARAGUAY', 'FINLAND',
       'HONDURAS', 'POLAND', 'LATVIA', 'CZECH REPUBLIC', 'LIBERIA',
       'ESTONIA', 'LITHUANIA', 'MONACO', 'HOLY SEE (VATICAN CITY STATE)',
       'HUNGARY', 'IRAN', 'SOUTH KOREA', 'TAIWAN', 'VIETNAM',
       'CONGO (DEMOCRATIC REPUBLIC)', 'TANZANIA', 'MOLDOVA',
       'NORTH KOREA', 'SYRIA', 'CONGO (BRAZZAVILLE)', 'LAOS',
       'PALESTINIAN AUTHORITY', 'LIBYA', 'MACAO S.A.R.', 'HOLY SEE',
       'NORTH MACEDONIA'], dtype=object)

I want to standardise the name of the countries of the later use:

In [28]:
df['app_country'] = df['app_country'].str.lower()
def title_except(s, exceptions):
    word_list = re.split(' ', s)       # re.split behaves as expected
    final = [word_list[0].capitalize()]
    for word in word_list[1:]:
        final.append(word if word in exceptions else word.capitalize())
    return " ".join(final)

articles = ['and', 'of']
df['app_country'] = df['app_country'].apply(lambda x: title_except(x, articles))

In [29]:
df['app_country'].unique()

array(['Russian Federation', 'Algeria', 'Ukraine', 'China', 'Belarus',
       'Turkey', 'Tunisia', 'Colombia', 'Morocco', 'United Kingdom',
       'India', 'United Arab Emirates', 'Angola', 'Saudi Arabia', 'Egypt',
       'Kuwait', 'Thailand', 'Lebanon', 'Iran, Islamic Republic of',
       'Nigeria', 'Indonesia', 'Peru', 'Kosovo', "Cote D'ivoire", 'Qatar',
       'Senegal', 'Philippines', 'South Africa', 'Kazakhstan',
       'Dominican Republic', 'Congo, The Democratic Republic of The',
       'Georgia', 'Libyan Arab Jamahiriya', 'Azerbaijan', 'Ecuador',
       'Suriname', 'Madagascar', 'Armenia', 'Gabon', 'Cape Verde', 'Mali',
       'Viet Nam', 'Guinea', 'Cameroon', 'Burkina Faso', 'Cuba',
       'Mongolia', 'Usa', 'Oman', 'Bahrain', 'Benin', 'Equatorial Guinea',
       'Jordan', 'Kyrgyzstan', 'Congo', 'Pakistan', 'Mozambique',
       'Uzbekistan', 'Sri Lanka', 'Singapore', 'Ghana', 'Mauritania',
       'Togo', 'Iraq', 'Haiti', 'Chad', 'Rwanda', 'Namibia', 'Niger',
       'Kenya', 'Cambodia', 'Bolivia',
       'Former Yugoslav Republic of Macedonia', 'Moldova, Republic of',
       'Turkmenistan', 'Bangladesh', 'Yemen', 'Nepal', 'Ethiopia',
       'Tajikistan', 'Palestine', 'Guinea-bissau', 'Uganda',
       'Central African Republic', 'Canada', 'Burundi', 'Djibouti',
       'Hong Kong S.a.r.', 'Comoros', 'Israel', 'Myanmar',
       'Tanzania, United Republic of', 'Sao Tome and Principe',
       'Afghanistan', 'Trinidad and Tobago', 'Zambia', 'Cyprus', 'Japan',
       'Eritrea', 'Ireland', 'Sudan', "Lao People's Democratic Republic",
       'Australia', 'Jamaica', 'Serbia', 'Botswana', 'Zimbabwe', 'Malawi',
       'Malaysia', 'Saint Lucia', 'Fiji', 'Panama', 'Bulgaria', 'Romania',
       'Timor-leste', 'San Marino', 'Macao', 'Montenegro', 'Chile',
       'Mexico', 'Korea, Republic of', 'Argentina', 'Papua New Guinea',
       'Albania', 'Venezuela', 'Taiwan, Province of China', 'New Zealand',
       'Brazil', 'Mauritius', 'Denmark', 'Croatia', 'Sweden',
       'Syrian Arab Republic', "Korea, Democratic People's Republic of",
       'Bosnia and Herzegovina', 'Costa Rica', 'Guatemala', 'Vanuatu',
       'Puerto Rico', 'Seychelles', 'Netherlands', 'Andorra', 'Brunei',
       'Germany', 'Slovakia', 'Malta', 'France', 'Iceland', 'South Sudan',
       'Slovenia', 'Bhutan', 'Nicaragua', 'Uruguay', 'Belgium',
       'Luxembourg', 'Portugal', 'El Salvador', 'Norway', 'Austria',
       'Switzerland', 'Italy', 'Greece', 'Spain', 'Paraguay', 'Finland',
       'Honduras', 'Poland', 'Latvia', 'Czech Republic', 'Liberia',
       'Estonia', 'Lithuania', 'Monaco', 'Holy See (vatican City State)',
       'Hungary', 'Iran', 'South Korea', 'Taiwan', 'Vietnam',
       'Congo (democratic Republic)', 'Tanzania', 'Moldova',
       'North Korea', 'Syria', 'Congo (brazzaville)', 'Laos',
       'Palestinian Authority', 'Libya', 'Macao S.a.r.', 'Holy See',
       'North Macedonia'], dtype=object)

Some country names are repeated becuase source files used sometimes the official name and sometimes the short name. I need to fix that manually:

In [30]:
to_be_replaced = ['Iran, Islamic Republic of','Congo, The Democratic Republic of The', 'Congo (democratic Republic)', 
                  'Congo','Congo (brazzaville)', 
                  'Moldova, Republic of', 'Libyan Arab Jamahiriya','Taiwan, Province of China', 'Macao S.a.r.', 
                  'Holy See (vatican City State)', 'Palestinian Authority', 
                  'Former Yugoslav Republic of Macedonia',"Korea, Democratic People's Republic of",
                  'Korea, Republic of', "Lao People's Democratic Republic", 
                  "Hong Kong S.a.r.",  'Tanzania, United Republic of', 'Usa', 'Guinea-bissau'] 

to_replace = ['Iran', 'Congo DR', 'Congo DR', 'Congo-Brazzaville','Congo-Brazzaville', 'Moldova', 'Libya', 'Taiwan', 'Macao', 
'Holy See', 'Palestine', 'North Macedonia', 'North Korea', 'South Korea', 'Laos', "Hong Kong", 'Tanzania', 'United States', 'Guinea-Bissau']

df['app_country']=df['app_country'].replace(to_be_replaced, to_replace)

In [31]:
df['app_country'].unique()

array(['Russian Federation', 'Algeria', 'Ukraine', 'China', 'Belarus',
       'Turkey', 'Tunisia', 'Colombia', 'Morocco', 'United Kingdom',
       'India', 'United Arab Emirates', 'Angola', 'Saudi Arabia', 'Egypt',
       'Kuwait', 'Thailand', 'Lebanon', 'Iran', 'Nigeria', 'Indonesia',
       'Peru', 'Kosovo', "Cote D'ivoire", 'Qatar', 'Senegal',
       'Philippines', 'South Africa', 'Kazakhstan', 'Dominican Republic',
       'Congo DR', 'Georgia', 'Libya', 'Azerbaijan', 'Ecuador',
       'Suriname', 'Madagascar', 'Armenia', 'Gabon', 'Cape Verde', 'Mali',
       'Viet Nam', 'Guinea', 'Cameroon', 'Burkina Faso', 'Cuba',
       'Mongolia', 'United States', 'Oman', 'Bahrain', 'Benin',
       'Equatorial Guinea', 'Jordan', 'Kyrgyzstan', 'Congo-Brazzaville',
       'Pakistan', 'Mozambique', 'Uzbekistan', 'Sri Lanka', 'Singapore',
       'Ghana', 'Mauritania', 'Togo', 'Iraq', 'Haiti', 'Chad', 'Rwanda',
       'Namibia', 'Niger', 'Kenya', 'Cambodia', 'Bolivia',
       'North Macedonia', 'Moldova', 'Turkmenistan', 'Bangladesh',
       'Yemen', 'Nepal', 'Ethiopia', 'Tajikistan', 'Palestine',
       'Guinea-Bissau', 'Uganda', 'Central African Republic', 'Canada',
       'Burundi', 'Djibouti', 'Hong Kong', 'Comoros', 'Israel', 'Myanmar',
       'Tanzania', 'Sao Tome and Principe', 'Afghanistan',
       'Trinidad and Tobago', 'Zambia', 'Cyprus', 'Japan', 'Eritrea',
       'Ireland', 'Sudan', 'Laos', 'Australia', 'Jamaica', 'Serbia',
       'Botswana', 'Zimbabwe', 'Malawi', 'Malaysia', 'Saint Lucia',
       'Fiji', 'Panama', 'Bulgaria', 'Romania', 'Timor-leste',
       'San Marino', 'Macao', 'Montenegro', 'Chile', 'Mexico',
       'South Korea', 'Argentina', 'Papua New Guinea', 'Albania',
       'Venezuela', 'Taiwan', 'New Zealand', 'Brazil', 'Mauritius',
       'Denmark', 'Croatia', 'Sweden', 'Syrian Arab Republic',
       'North Korea', 'Bosnia and Herzegovina', 'Costa Rica', 'Guatemala',
       'Vanuatu', 'Puerto Rico', 'Seychelles', 'Netherlands', 'Andorra',
       'Brunei', 'Germany', 'Slovakia', 'Malta', 'France', 'Iceland',
       'South Sudan', 'Slovenia', 'Bhutan', 'Nicaragua', 'Uruguay',
       'Belgium', 'Luxembourg', 'Portugal', 'El Salvador', 'Norway',
       'Austria', 'Switzerland', 'Italy', 'Greece', 'Spain', 'Paraguay',
       'Finland', 'Honduras', 'Poland', 'Latvia', 'Czech Republic',
       'Liberia', 'Estonia', 'Lithuania', 'Monaco', 'Holy See', 'Hungary',
       'Vietnam', 'Syria'], dtype=object)

The "consulate" column is not necessary, so I'll drop it without losing any relevant data:

In [32]:
df = df.groupby(['app_country','schengen_state', 'year']).sum().reset_index()

I want to assign alpha 2 codes for both schengen state and applicant country columns for easy merging:

In [33]:
input_countries = df['schengen_state']

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

codes = [countries.get(country, 'Unknown code') for country in input_countries]

In [34]:
df['code_schengen'] = codes
df['code_schengen'].unique()

array(['Unknown code', 'DK', 'FR', 'DE', 'IT', 'NL', 'NO', 'PL', 'ES',
       'SE', 'AT', 'GR', 'HU', 'SI', 'BE', 'FI', 'MT', 'PT', 'CH', 'LT',
       'SK', 'EE', 'LV', 'LU', 'IS'], dtype=object)

Pycountry misses some countries for some reason. I'll do Czech Republic manually:

In [35]:
df['code_schengen'] = df['code_schengen'].replace({'Unknown code':'CZ'}, regex=False)

In [36]:
input_countries = df['app_country']

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

df['code_app'] = [countries.get(country, 'Unknown code') for country in input_countries]

In [37]:
df[df['code_app']=='Unknown code']['app_country'].unique()

array(['Bolivia', 'Brunei', 'Cape Verde', 'Congo DR', 'Congo-Brazzaville',
       "Cote D'ivoire", 'Czech Republic', 'Holy See', 'Iran', 'Kosovo',
       'Laos', 'Moldova', 'North Korea', 'Palestine', 'South Korea',
       'Syria', 'Taiwan', 'Tanzania', 'Timor-leste', 'Venezuela',
       'Vietnam'], dtype=object)

When it comes to the applicant country column there are more misses. 
I prepared an excel files for the missign ones. 
So, I'll merge it with the main dataframe.
But first I'll drop Vatican, which is not necessary or relevant:

In [38]:
df.drop(df[df['app_country']=='Holy See'].index, inplace=True)

I load the forementioned excel files with misign code and I merged it with the main dataframe:

In [39]:
codes_df = pd.read_excel(r'G:\My Drive\Port_drive\visa\lacking_alpha2.xlsx')
merged_df = df.merge(codes_df, on='app_country', how='left')
merged_df.loc[merged_df['code_app'] == 'Unknown code', 'code_app'] = merged_df['code']
df = merged_df
df = df.drop('code', axis=1)
print(df[df['code_app']=='Unknown code']['app_country'].unique())

[]

It looks looks good!

In [ ]:
df.head()

I load a file that includes the countries that enter the Schengen zone without a visa and merged it with the main dataframe. So I can compare with the rest:

In [ ]:
vfree = pd.read_csv(r'G:\My Drive\Port_drive\visa\visa_free2.csv', delimiter=';')
vfree['app_country']=vfree['app_country'].str.strip()
vfree.head()

In [ ]:
input_countries = vfree['app_country']

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

vfree['code_app'] = [countries.get(country, 'Unknown code') for country in input_countries]
vfree = vfree.drop('app_country', axis=1)

In [ ]:
vfree['code_app'] = vfree['code_app'].replace({'Unknown code':'CZ'}, regex=False)

In [ ]:
vfree['code_app'].unique()

In [ ]:
df = pd.merge(df, vfree, how='left', on='code_app')

I simply assign the na values in the column that indicates the visa status as "false":

In [ ]:
df['visa_free'] = df['visa_free'].fillna(False)

In [ ]:
df.head()

Next step is reading and mergin aslyum request data from Eurostat.

In [ ]:
asyl = pd.read_csv(r"G:\My Drive\Port_drive\visa\migr_asyappctza_linear.csv")

In [ ]:
asyl.head()

In [ ]:
asyl_orig = asyl.copy()

dropping unnecessary columns

In [ ]:
asyl = asyl[['citizen', 'sex', 'age', 'asyl_app', 'geo', 'TIME_PERIOD', 'OBS_VALUE']]

Checking and dropping na values:

In [ ]:
for col in asyl.columns:
    pct_missing = (np.mean(asyl[col].isnull())*100)
    print('{} - {}%'.format(col, pct_missing))

In [ ]:
asyl = asyl.dropna()

In [ ]:
for col in asyl.select_dtypes(include=['object']).columns:
    print(f'{col} - {asyl[col].unique()}')

Eurostat uses the official code fro Greece which EL. The problem is nobody else uses that. So I replace it with "GR".

In [ ]:
asyl.replace('EL', 'GR', inplace=True)

I choose the relevant information from the asylum dataframe:

In [ ]:
asyl = asyl[asyl['sex']=='T'] #all sexes
asyl = asyl[asyl['age']=='TOTAL'] #all ages
asyl = asyl[asyl['asyl_app']=='NASY_APP'] # first time applicants
asyl = asyl.drop(asyl[asyl.geo=='EU27_2020'].index) # we do not need aggreated data
asyl = asyl[~asyl['citizen'].str.contains('EU')]

Choosing the relevant columns and renaming them:

In [ ]:
asyl = asyl[['citizen', 'geo', 'TIME_PERIOD', 'OBS_VALUE']]

In [ ]:
asyl = asyl.rename(columns={'citizen':'code_app', 'geo':'code_schengen', 'TIME_PERIOD':'year', 'OBS_VALUE':'asyl_app'})
asyl.head()

Merging the main dataframe and the asylum dataframe:

In [ ]:
df = pd.merge(df, asyl, on=['code_app', 'code_schengen', 'year'], how='left')

In [ ]:
df.head()

Creating the key column rejection rate with the number of rejections and total applications:

In [ ]:
df['rejection_rate'] = (df['rejected']/df['app'])*100

Conducting some preliminarny correlation tests:

In [ ]:
df2 = df[df['rejection_rate']<=100]
df2 = df[df['visa_free']==False]
df2 = df[df['asyl_app']<20000]

In [ ]:
df2.describe()

In [ ]:
df2 = df.groupby(['app_country']).mean().reset_index()
df2.head()

In [ ]:
sns.scatterplot(x='rejection_rate', y='asyl_app', data=df2)
plt.show()

In [ ]:
df2.corr()

In [ ]:
df2.describe()

Globally speaking rejection rate is not correlated with asylum requests.